.contr{
	background:#509FCA;
	width:100%;
	height:4950px;
	min-width:1106px;
	max-width:100%;
}
.d{
	width:100%;
	height:200px;
}
.z{
	float:left;
	margin: 15px 150px 200px 60;	
}
.cont1{
	margin: 10px;
	font-size:20pt;
}
.a{
	float:left;
	margin: 15px 150px 250px 60;	
}
.cont2{
	margin: 10px;
	font-size:20pt;
}
.b{
	float:left;
	margin: 15px 150px 250px 60;	
}
.cont3{
	margin: 10px;
	font-size:20pt;
}
.c{
	float:left;
	margin: 15px 150px 250px 60;	
}
.cont4{
	margin: 10px;
	font-size:20pt;
}
.e{
	float:left;
	margin: 15px 150px 250px 60;	
}
.cont5{
	margin: 10px;
	font-size:20pt;
}
.k{
	background-color:#6AB7CB;
	height:103;
	position:absolute;
	width:100%;
	top:4855px;
}
.m{
	position:absolute;
	top:4350;
	right:0;
}
.n{
	position:absolute;
	top:4860;
	width:96px;
	height:89px;
	left:50;
}
.o{
	position:absolute;
	top:4860;
	left:156;
	width:96px;
	height:89px;
}
