.contr{
	background-color:#93D8FF;
	width:100%;
	height:1400px;
	min-width:1106px;
	max-width:100%;
}
.d{
	width:100%;
	height:200px;
}
.cont{
	position:relative;
	width:100%;
}		
.a{
	font-size:18pt;	
}
.c{
	font-size:18pt;
}
.video{
	width:100%;
}
.k{
	background-color:#6AB7CB;
	height:103;
	position:absolute;
	width:100%;
	top:975px;
}
.m{
	position:absolute;
	top:520;
	right:0;
}
.n{
	position:absolute;
	top:975;
	width:96px;
	height:89px;
	left:50;
}
.o{
	position:absolute;
	top:975;
	left:156;
	width:96px;
	height:89px;
}
